[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = HexactaLabs-Java
[access "refs/*"]
	owner = group user/lnapoliHX
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/lnapoliHX
	label-Verified = -1..+1 group user/lnapoliHX
	push = group user/lnapoliHX
	read = group user/lnapoliHX
	rebase = group user/lnapoliHX
	removeReviewer = group user/lnapoliHX
	submit = group user/lnapoliHX
[access "refs/heads/*"]
	create = group user/lnapoliHX
	push = +force group user/lnapoliHX
	pushMerge = group user/lnapoliHX
	read = group user/lnapoliHX
[access "refs/tags/*"]
	push = group user/lnapoliHX
	push = +force group user/lnapoliHX
